*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    height: 450px;
    width: 330px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0  5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-y: auto ;
}

#input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    padding: 0 10px;
    margin: 15px 0;
}

#input::placeholder{
    color: #bbb;
}

ul li{
    background-color: #eee;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding-top: 25px;
    padding-left: 20px;
    position: relative;
}

ul .fa-check, .fa-trash{
    position: absolute;
}

ul .fa-check{
    right: 40px;
    color: green;
}

ul .fa-trash{
    right: 15px;
    color: red;
}